@model IEnumerable<BookEvent.Data.Model.Event>
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr>
        <th>
            <h3>Past Events</h3>

        </th>
    </tr>
    @foreach (var item in Model.Where(s => (DateTime.Now.Date.CompareTo(s.Date)) > 0))
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Events", new { id = item.Id },null)
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <th>
            <h3>Upcoming Events</h3>
        </th>
    </tr>
    @foreach (var item in Model.Where(s => (DateTime.Now.Date.CompareTo(s.Date)) <= 0))
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Events", new { id = item.Id },null)
            </td>
        </tr>
    }
</table>
